# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.app
*.d
./example_linuxarmv6l_animation/bin/example_linuxarmv6l_animation
